app:
  port: 8448
  proxies:
    - method: "GET"
      target: "http://127.0.0.1:8080/test"
      route: "/kube"
    - method: "GET"
      target: "http://127.0.0.1:8080"
      route: "/api/faas"
  statics:
    - dir: "./static"
      route: "/www"
  uploads:
    - dir: "./upload"  # 需要上传的文件夹目录
      # 上传目标服务的http api
      target: "http://127.0.0.1:8448/www"
      # 触发文件夹上传的http api, POST: 上传
      route: "/upload"
    - dir: "./upload"
      target: "http://49.234.66.103:8448/www"
      route: "/cloudUpload"
